<!DOCTYPE html> 
<html>

<head>
  <title>AOSL Data Delivery Website</title>
  <meta name="description" content="This website displays data received by our vehicle in real Time." />
  <meta name="keywords" content="AOSL, SeaDragon, Icebergs, MUN" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
  <!--Load the AJAX API-->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="js/ctd_grapher.js"></script>
  <script src="js/dlfile.js"></script>
</head>

<body>
  <div id="main">		
  <header>
    <div id="strapline">
	    <div id="welcome_slogan">
	      <h3>Welcome To the AOSL delivery data website <span>v0.5</span></h3>
	    </div>
    </div>
	  <nav>
	    <div id="menubar">
        <ul id="nav">
          <li ><a href="/">Home</a></li>
          <li><a href="/icebergMap">Iceberg Map</a></li>
          <li class="current"><a href="/icebergSelector">Icebergs</a></li>
          <li><a href="http://www.aosl.ca">About Us</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <div id="IcebergSelector"> 
    Select the year of iceberg data:
    <select id="selectYear" onchange="changeYear()"></select>
    Select the ID/name of the iceberg:
    <select id="selectIceberg"></select>
    <button type="button" onclick="changeIceberg()">Load</button>
	Download data:
	<button type="button" onclick="download()">Download</button>
  Playback trial:
	<button type="button" id="playbtn" onclick="play()">Play</button>
  <button type="button" id="pausebtn" onclick="pause()">Pause</button>
  <button type="button" id="stopbtn" onclick="stop()">Stop</button>
  </div>
	
	<div id="site_content">		
    <div class="left_sidebar_container">       
	    <div class="sidebar">
        <div class="data_plot" id="curve_chart1"></div>
        <div class="data_plot" id="curve_chart2"></div>
        <div class="data_plot" id="curve_chart3"></div>
      </div>
    </div>	
    <div class="right_sidebar_container">       
  		<div class="sidebar">
        <div class="sidebar_item">
          <h2 align='center'>Iceberg Data</h2>
          <a>Dimensions : </a>
          <div>
            <table align="center" style="width:100%">
              <tr>
                <td>Height (m) : </td>
                <td  id="icebergHeight">-</td>
              </tr>
              <tr>
                <td>Width (m) : </td>
                <td  id="icebergWidth">-</td>
              </tr>
              <tr>
                <td>Volume (cubic m) : </td>
                <td   id="icebergVolume">-</td>
              </tr>
            </table>
          </div>
          <a>True Wind Data : </a>
          <div>
            <table align="center" style="width:100%">
              <tr>
                <th></th>
                <th>Wind Speed (m/s)</th> 
                <th>Wind Direction (deg)</th>
              </tr>
              <tr>
                <td>Min</td>
                <td  id="minSpeedWind">-</td>
                <td  id="minDirWind">-</td>
              </tr>
              <tr>
                <td>Average</td>
                <td  id="aveSpeedWind">-</td>
                <td  id="aveDirWind">-</td>
              </tr>
              <tr>
                <td>Max</td>
                <td   id="maxSpeedWind">-</td>
                <td   id="maxDirWind">-</td>
              </tr>
              <tr>
                <td>Current</td>
                <td   id="curSpeedWind">-</td>
                <td   id="curDirWind">-</td>
              </tr>
            </table>
          </div>
          <a>Iceberg Location and Vehicle Path: </a>
          <div id="map" style="width:100%;height:200px;" >
          
          </div>
          <a>ADCP Water Current Profile</a>
          <div id="ADCPprof" class="output_html rendered_html output_subarea output_execute_result">
            <form>
              Yaw: <input id="yawval" type="text" placeholder="Yaw" required>
              Pitch: <input id="pitchval" type="text" placeholder="Pitch" required>
              <input type="button" onclick="recalc()" value="Calc">
            </form>
            <script src="http://d3js.org/d3.v3.min.js"></script>
            <script src="js/vectorfield3d.js"></script>
          </div>
        </div><!--close right_sidebar_item--> 
      </div><!--close sidebar-->     		
    </div><!--close sidebar_container-->	
	  <div id="content">
    <div id="iceberg_holder">
      <div id="iceberg_plot" class="content_item"></div>
      <div id="iceberg_gallery">
        <h4 align="center">Gallery</h4>
        <div id="iceberg_images">
        </div>
      </div><!--TODO: Load in images dynamically from server-->
    </div>
    </div>   
  </div><!--close site_content-->  	
</div><!--close main-->


  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOE5dxPP2ebY6mdBn-DlbBMhx0AB16DEA&callback=mapReady" async defer></script>
  <script src="js/three.js"></script>
  <!--script src="js/loaders/PCDLoader.js"></script>
  <script src="js/controls/TrackballControls.js"></script>
  <script src="js/Detector.js"></script>
  <script src="js/libs/stats.min.js"></script>
  <!--<script src="js/PCDSceneCreator.js"></script>-->
  <script type="text/javascript" src="js/icebergSelector.js"></script>    
  <!-- Load PCD data plotter -->   
  <!--script src="js/render.js"></script--> 
  <script>
  function mapReady() {
    setMapData(); 
  }
  </script>
  <script>
  var yaw=0.5,pitch=0.5, width=325, height=300, drag=false;
  
    var gata = [de()];
    function de(){
        var output=[]
            ,xlength = 10
            ,ylength = 10
            ,zlength = 10;
        for(var x = 0; x < xlength; x++){
            for(var y = 0; y < ylength; y++){
                for(var z = 0; z < zlength; z++){
                    output.push({
                        x: x
                        ,xl: xlength
                        ,y: y
                        ,yl: ylength
                        ,z: z * 20
                        ,zl: zlength
                        ,dx:0
                        ,dy:0
                        ,h: (y / 10 / (z + 1)) + 2
                        ,theta: 1.5 * z / (y + 1)
                        ,psi: 3.14 * y / (x + 1)
                        ,depth:0
                    });
                }
            }
        }
        return output;
    }
    
  var svg = d3.select("#ADCPprof")
          .append('svg')
            .attr('height',height)
            .attr('width',width)
            .attr("transform", "translate(0," + 150 + ")");


  var md = svg.selectAll("g")
      .data(gata)
      .enter().append("g")
    .surface3D(width,height-300)
      .surfaceHeight(function(d){ 
        return d;
      }).surfaceColor(function(d){
        var c=d3.hsl((d+100), 0.6, 0.5).rgb();
        return "rgb("+parseInt(c.r)+","+parseInt(c.g)+","+parseInt(c.b)+")";
      });

    svg.on("mousedown",function(){
        drag = [d3.mouse(this), yaw, pitch];
    })
    .on("mouseup", function(){
        drag = false;
    }).on("mousemove", function(){
        if(drag){
            var mouse = d3.mouse(this);
            yaw = drag[1] - (mouse[0] - drag[0][0]) / 50;
            pitch = drag[2] + (mouse[1] - drag[0][1]) / 50;
            pitch = Math.max(-Math.PI / 2, Math.min(Math.PI / 2, pitch));
            var pd = Math.round(pitch * 100) / 100
                ,yd = Math.round(yaw * 100) / 100;
            document.getElementById("yawval").value = yd;
            document.getElementById("pitchval").value = pd;
            md.turntable(yaw, pitch);
        }
    });
    
    function recalc(){
        var y =  document.getElementById("yawval").value
            ,p =  document.getElementById("pitchval").value;
        if(y && p) md.turntable(y, p);
    }
  </script>
</body>
</html>
