<!DOCTYPE html> 
<html>

<head>
  <title>AOSL Data Delivery Website</title>
  <meta name="description" content="This website displqys data received by our vehicle in real Time." />
  <meta name="keywords" content="AOSL, SeaDragon, Icebergs, MUN" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="css/style.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <div id="main">		

    <header>
	  <div id="strapline">
	    <div id="welcome_slogan">
	      <h3>Welcome To the AOSL delivery data website <span>v0.5</span></h3>
	    </div><!--close welcome_slogan-->
      </div><!--close strapline-->	  
	  <nav>
	    <div id="menubar">
          <ul id="nav">
            <li ><a href="/">Home</a></li>
            <li class="current"><a href="/icebergMap">Iceberg Map</a></li>
            <li><a href="/icebergs">Icebergs</a></li>
            <li><a href="http://www.aosl.ca">About Us</a></li>
          </ul>
        </div><!--close menubar-->	
      </nav>
    </header>
    
    <div id="slideshow_container">  
	  <div class="slideshow">
	    <ul class="slideshow">
          <li class="show"><img width="940" height="250" src="images/home_1.jpg" alt="&quot;Sea Dragon before Deployment 2016 &quot;" /></li>
          <li><img width="940" height="250" src="images/home_2.jpg" alt="&quot;Sea Dragon In Action 2016 &quot;" /></li>
        </ul> 
	  </div><!--close slideshow-->  	
	</div><!--close slideshow_container-->   
	
	<div id="site_content">		
	  	   
	  <div id="content">
        <div class="content_item">
		  <h1>This page is not available yet</h1> 
          <p>In a future version of this website, you will be able to see the iceberg location for a given year on a map with points. By clicking on a point, you will be able to see the iceberg details in a separate window. </p>   			    

    <footer>
	  <a href="index.html">Home</a> | <a href="icebergMap.html">Icebergs Map</a> | <a href="icebergSelector.html">Icebergs Selector</a> | <a href="http://www.aosl.ca">About Us</a><br/><br/>
	   website template by <a href="http://www.freehtml5templates.co.uk">Free HTML5 Templates</a>
    </footer>
	
  </div><!--close main-->
  
  <!-- javascript at the bottom for fast page loading -->
  <script type="text/javascript" src="js/jquery.min.js"></script>
  <script type="text/javascript" src="js/image_slide.js"></script>
  
</body>
</html>
