<!DOCTYPE html> 
<html>

<head>
  <title>AOSL Data Delivery Website</title>
  <meta name="description" content="This website displqys data received by our vehicle in real Time." />
  <meta name="keywords" content="AOSL, SeaDragon, Icebergs, MUN" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link rel="stylesheet" type="text/css" href="css/homepage.css" />
  <!-- modernizr enables HTML5 elements and feature detects -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
</head>

<body>
  <img id='background' src='images/iceberg5.jpg'></img>
  <div id="main">		
    <header>
	    <nav>
	      <div id="menubar">
          <ul class="nav">
            <li class="current"><a href="index.html">Home</a></li>
            <li><a href="/icebergMap">Iceberg Map</a></li>
            <li><a href="/interface">Icebergs</a></li>
            <li><a href="http://www.aosl.ca">About Us</a></li>
          </ul>
        </div>
      </nav>
    </header>
    
</body>
</html>
