<!DOCTYPE html> 
<html>

<head>
  <title>Data Interface</title>

  <!-- META DATA -->
  <meta name="description" content="Real-time Iceberg data viewer" />
  <meta name="keywords" content="AOSL, SeaDragon, Icebergs, MUN" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />

  <!-- STYLING -->
  <link rel="stylesheet" href="css/datainterface.css">

  <!-- MODERNIZER ENABLES HTML5 -->
  <script type="text/javascript" src="js/modernizr-1.5.min.js"></script>
  
  <!-- MISC -->
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" xlink:href="svg.min.js"></script>
  <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="js/stats.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <!-- THREE.JS -->
  <script src="js/3d/three.js"></script>
  <script src="js/STLLoader.js"></script>
  <script src="js/3d/TrackballControls.js"></script>
  <script src="js/3d/OrbitControls.js"></script>
  <script src="js/3d/ConvexGeometry.js"></script>
  <script src="js/3d/Detector.js"></script>


  <!-- CLIENT-SIDE FUNCTIONALITY -->
  <script src="js/interface/global.js"></script>
  <script src="js/datatransfer.js"></script>
  <script src="js/interface/playback.js"></script>
  <script src="js/interface/model.js"></script>
  <script src="js/interface/map.js"></script>
  <script src="js/interface/ctd.js"></script>
  <script src="js/interface/airstats.js"></script>
  <script src="js/interface/pictures.js"></script>
  <script src="js/interface/prettifier.js"></script>

</head>

<body>
<div class="main">

  <!-- MENU BAR -->  
  <div id="menu" class="page-segment">
    <div id="menubar">
      <ul id="nav">
        <li ><a href="/">Home</a></li>
        <li class="current"><a href="/icebergMap">Iceberg Map</a></li>
        <li><a href="/interface">Icebergs</a></li>
        <li><a href="http://www.aosl.ca">About Us</a></li>
      </ul>
    </div>
  </div>

  <!-- TODO Allow the user to append/remove graphs, or append/remove data display at run-time -->
  <!-- TODO Dynamically detect what simulation data is available and create graphs and data monitors -->

  <!-- GRAPHS -->
  <div id="graphs"></div>

  <!-- DATA DISPLAY -->
  <div id='displays'>
    <table id='miscdata_table'>

    </table>
  </div>

  <!-- GOOGLE MAP -->
  <div id="map"></div>

  <!-- PICTURES -->
  <div id="pics">
    <img id="icedisp" src="images/notfound.png"></img>
  </div>

  <!-- ICEBERG MODEL -->  
  <div id="model" class="page-segment"></div>
  
  <!-- TEMPORAL -->
  <div id="temporal">
    <div id="buttons">    
      <button type="button" id="playbtn" onclick="play()">Play</button>
      <button type="button" id="pausebtn" onclick="pause()">Pause</button>
      <button type="button" id="stopbtn" onclick="stop()">Stop</button>
    </div>
    <div id="timebarbox">
      <input type="range" id="timebar" min="0" max="0" value="0" oninput="manualsetTime()"/> 
    </div>
  </div>

  <!-- DATABASE DATA CONTROL AND QUERY -->
  <div id="datacontrol" class="page-segment">
    <select id="selectYear" onchange="changeYear()"></select>
    <select id="selectIceberg"></select>
    <button type="button" onclick="changeIceberg()">Load</button>
  </div>
  
</div>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOE5dxPP2ebY6mdBn-DlbBMhx0AB16DEA&callback=mapReady" async defer></script>

</body>
</html>
