<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<script src="js/jquery.min.js"></script>
<script src="js/3d/three.js"></script>
<script src="js/3d/OrbitControls.js"></script>
<script src="js/3d/ConvexGeometry.js"></script>
<script src="js/3d/Detector.js"></script>
<script src="js/stats.min.js"></script>
<script src="js/datatransfer.js"></script>
<script src="http://threejs.org/build/three.min.js"></script>
<script src="js/STLLoader.js"></script>
<script src="js/3d/TrackballControls.js"></script>

</head>

<body>
  <h>Three.js Practice</h>
  <div id="container"></div>
<script src="js/threejs_test.js"></script>
</body>
</html>
